# Xcode
*.xcworkspace
*.xcuserdata
*.xccheckout
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Build products
build/
DerivedData/
*.app
*.ipa
*.dSYM

# Swift Package Manager
/.build/
/Packages/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# User-specific files
*.swp
*.lock
*.log

# macOS system files
.DS_Store